/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 5pt;
  scroll-behavior: smooth;
}

section {
  /* padding: 0px 5vw 40px 5vw; */
  min-height: 70vh;
  width: 100%;
  border-bottom: 3px solid #ccc;
  background-color: #E8DFCA;
  padding-bottom: 20px;
}

/* Typography */
body, .page {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 700;
  font-style: normal;
}

hr {
  height: 10px;
  width: 94%;
  border-radius: 10px;
  align-self: center;
  background-color: goldenrod;
}

/* Header */
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #CFFFE2;
    z-index: 1000;
    padding: 25px 10px;
    box-shadow: 0 2px 5px rgba(0,0,0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, sans-serif;
}

.sticky-header a {
  text-decoration: none;
  color: #254D70;
  font-size: 20pt;
  font-weight: 550;
}

.sticky-header a:hover {
  text-decoration: underline;
}

.logo-link a{
  border: 4px solid goldenrod;
  border-radius: 20%;
  background-color: #254D70;
  color: #F6F6F6;
  padding: 10px;
  font-size: 30pt; 
  padding: 10px;
  margin-left: 10px;
}

.logo-link a:hover {
  text-decoration: none;
}

.center-links {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 120px;
}

@media (max-width: 768px) {
  .center-links {
    gap: 40px;
  }
}

.header-images {
  height: 80px;
  width: auto;
  margin-right: 10px;
}

/* Section Stuff */

.section-title {
  background-color: #CBDCEB;
  padding: 10px 20px;
  font-size: 40px;
  font-weight: 800;
  color: #254D70;
  position: relative;
  border-bottom: 5pt solid #254D70;
  /* margin-bottom: 30px; */
}

/* About Section */
.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 40px 80px;
}

.profile-picture img{
  width: 250px;
  height: auto;
  border-radius: 20px;
  align-items: stretch; /* <--- This is the key change */
  object-fit: cover;
}

.about-text {
  flex: 1;
  padding: 20px;
  background-color: #CFFFE2;
  border: 0pt solid white;
  border-radius: 20px;
  height: stretch;
}

.about-text h1 {
  font-size: 40pt;
  color: #254D70;
}

.about-text p {
  margin: 1em 0;
  font-size: calc(1.4rem + 0.5vw);
  font-weight: 650;
  color: #254D70;
}

/* Projects Section */

.project-grid {
  display: flex;
  flex-direction: column; /* Stack them vertically */
  align-items: center;
  gap: 50px;
  padding: 40px 60px;
}

.widget-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  width: 100%;
  /* max-width: 1200px; */
}

.project-widget {
  width: 100%;
  height: 200px;
  padding: 20px;
  border: 5px solid black;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-widget:hover {
  transform: scale(1.05);
  box-shadow: 20px 20px 20px rgba(0,0,0,0.3);
}

#rise-widget {
  background-color: rgb(102, 193, 233);
  overflow: hidden;
}

#s2ym-widget {
  background-color: rgba(0, 255, 68, 0.341);
  overflow: hidden;
}

.content-flex {
  display: flex;
  height: 100%;
  width: 100%;
}

.image-container {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  flex: 2;
  padding: 10px;
  color: #254d70;
}

.text-container h3 {
  font-size: 20pt;
  margin-bottom: 5px;
  text-decoration: underline;
}

.text-container h4 {
  font-size: 10pt;
  margin-bottom: 10px;
}

.text-container p {
  font-size: 12pt;
  line-height: 1.4;
  font-weight: normal;
}

.rise-image {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  object-fit: contain;
  display: block; /* Ensure image is centered inside widget*/
  margin: 0;
}

.s2ym-image {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  object-fit: contain;
  display: block; /* Ensure image is centered inside widget*/
  margin: 0;
  border-radius: 25%;
}


/* Interests Section */


/* Footer */
.footer-div {
  background-color: #CFFFE2;
  padding: 3vw;
  color: #254D70;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 12pt;
  font-weight: 700;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

.footer-links a {
  text-decoration: none;
  color: #254D70;
  font-weight: 700;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-div h3 {
  font-size: 11pt;
}

@media (max-width: 600px) {
  .footer-links {
    gap: 10px;
  }
}

.contact-div {
  font-size: large;
  /* Center the content */
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Add some padding from the section title */
  padding-top: 50px;
}

.contact-div p {
  /* Make the text readable and larger */
  font-size: 22pt; 
  font-weight: 500;
  line-height: 1.8; /* Add vertical space between lines */
  color: black; /* Dark Blue from your palette */
}

.contact-div strong {
  /* Ensure the label is slightly bolder than the rest of the text */
  font-size: 24pt;
  margin-right: 8pt;
  font-weight: 700; 
}
